* {
    font-family: 'Fira Code';
    font-size: 22px;
    box-sizing: border-box;
}

html, head, body {
	height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

textarea {
	resize: none;
    padding: 0;
    height: 100%;
}
